:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #030625;
  background-color: #FFEFD9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto Slab Variable', serif;
}

input::placeholder {
  font-size: 18px;
}

@media (min-width: 1536) {
  input::placeholder {
    font-size: 30px;
  }
}
